.footer {
  background-color: $dark;
  &__content {
    padding: 116px 0 100px;
    border-bottom: 1px solid #424d53;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    position: relative;
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: $white;
    &::before {
      position: absolute;
      top: 44px;
      left: 2px;
      width: 51px;
      height: 3px;
      content: '';
      background-color: $primary;
    }
  }
  &__text {
    max-width: 261px;
    margin-bottom: 36px;
  }
  &__contact {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    color: $white;
    &::before {
      position: absolute;
      left: 0;
      content: '\f041';
      font-family: 'icomoon';
      font-size: 18px;
      line-height: 1;
      color: $primary;
    }
    &--phone {
      margin-top: 27px;
      &::before {
        content: '\f095';
      }
    }
  }
  &__list-item {
    position: relative;
    margin-bottom: 24px;
    padding-left: 21px;
    font-size: 15px;
    color: $text-light;
    &::before {
      position: absolute;
      left: 0;
      content: '\f105';
      font-family: 'icomoon';
      font-size: 18px;
      color: $primary;
    }
  }
  &__social {
    margin-bottom: 40px;
  }
  &__social-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 7px;
    }
  }
  &__social-link {
    width: 28px;
    height: 28px;
    background: url('/src/images/css_sprites.png');
    &--facebook {
      background-position: -1px -1px;
    }
    &--twitter {
      background-position: -31px -31px;
    }
    &--youtube {
      background-position: -61px -1px;
    }
    &--pinterest {
      background-position: -1px -31px;
    }
    &--linkedin {
      background-position: -31px -1px;
    }
  }
  &__form {
    position: relative;
    width: 261px;
  }
  &__form-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: $white;
  }
  &__form-field {
    height: 40px;
    padding: 0 60px 0 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: $white;
    background-color: #2f3c43;
    border: none;
    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #697378;
    }
  }
  &__form-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 40px;
    background-color: $primary;
    &::before {      
      content: '\f124';
      font-family: 'icomoon';
      font-size: 20px;      
      line-height: 1.8;
      color: $white;
    }
  }
  &__copy {
    padding: 24px 15px 30px;
    text-align: center;
    color: #919699;
  }
}
