.header {
  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
  }
  &__help {    
    margin-left: auto;
  }
  &__user {
    margin-left: 27px;
  }
  &__help-link {
    color: $bright;
  }  
  &__nav {
    background-color: $dark;
  }
  &__menu {
    padding: 23px 0;
  }
  &__menu-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__menu-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $white;
  }
}
