.products {
  padding: 121px 0 112px;  
  background-color: $light;
  text-align: center;
  &__title {
    margin-bottom: 48px;    
  }
  &__categories {
    margin-bottom: 59px;
  }
  &__categories-btn {
    margin: 0 3px;
    padding: 13px 21px;
    font-size: 14px;
    font-weight: 500;
    color: $dark;
    background-color: $white;
    &.mixitup-control-active {
      color: $white;
      background-color: $bright;
      box-shadow: 0px 2px 5px 0 rgba(202, 215, 228, 0.75);
    }        
  }
  &__cards {
    margin-bottom: 78px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    margin-bottom: 32px;
  }
  &__bottom-btn {
    margin: 0 6px;
    padding: 18px 32px;
    font-size: 16px;
    font-weight: 400;
    color: $dark;
    background-color: $white;
    box-shadow: 0px 1px 3px 0 rgba(204, 216, 228, 0.75);
    &.mixitup-control-active {
      color: $white;
      background-color: $bright;
    } 
  }
}
