/* Text */
$fontFamily: 'Roboto', sans-serif;
$mainFontSize: 15px;
$mainFontWeight: 400;
$mainLineHeight: 1.6;

/* Colors */
$white: #ffffff;
$black: #000000;

$dark: #263238;
$bright: #e74c3c;
$primary: #8bc34a;
$light: #f4f6f5;

$text: #546e7a;
$text-light: #b7c3c8;

// $pale: #cbdbe8;
// $bright-light: #85c8ff;
// $primary-dark: #5a6789;
// $dark: #192b59;
