/* Text */
$fontFamily: 'Open Sans', sans-serif;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.625em;

/* Colors */
$white: #ffffff;
$light: #edf4fb;
$pale: #cbdbe8;
$bright: #1085e4;
$bright-light: #85c8ff;
$primary: #7581a1;
$primary-dark: #5a6789;
$dark: #192b59;
